* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Lato, sans-serif;
  font-family: Montserrat, sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Mulish", sans-serif;
}
.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.fon {
  background: #fdfdfd;
  margin-left: 255px;
}
.boshcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.img1 p {
  color: var(--grayscale-black, #252733);
  text-align: right;

  /* SemiBold/14px */
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
  /* display: flex; */
}
.menu {
  display: flex;
  align-items: center;
  gap: 14px;
}
.pp {
  color: #000;
  font-family: Lato;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 53px;
}
.img1 p {
  color: var(--grayscale-black, #252733);
  text-align: right;

  /* SemiBold/14px */
  font-family: lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.menu1 {
  display: flex;
  gap: 32px;
  align-items: center;
}
.btnn {
  margin-top: -5px;
  width: 71.094px;
  height: 35.501px;
  padding: 8.5px 18.55px;
  border-radius: 5px;
  background: #10cd45;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
table {
  width: 1240px;
  text-align: left;
  padding-top: 64px;
  padding-bottom: 170px;
}
tbody {
  color: #414141;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

tr:nth-child(even) {
  /* opacity: 0.4; */
  background: #eef2f5;
  padding-left: 20px;
}
td,
th {
  padding: 15px 0;
  border-collapse: collapse;
}
td:nth-child(4) {
  color: #10cd45;
}
td:nth-child(5) {
  color: red;
}
td:first-child,
th:first-child {
  padding-left: 29px;
}
tr {
  margin-top: 30px;
}
tr:hover {
  background: #c0f7c9;
  transition: 0.3s;
}
thead {
  color: #878787;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.fonf {
  background: var(--sidebar-bg, #363740);
  position: absolute;
  left: 0;
  top: 0;
  /* bottom: 0; */
  height: 1200px;
  right: 1260px;
}
.container2 {
  padding: 36px 32px 23px 23px;
}
.divbosh {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-bottom: 53px;
}
.boshsh {
  color: var(--sidebar-gray, #a4a6b3);

  /* Bold/19px */
  font-family: Mulish;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}
.btnf {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  gap: 27px;
  text-decoration: none;
  cursor: pointer;
  border-left: solid 3px #363740;
}
.menyuu {
  color: var(--sidebar-gray, #a4a6b3);

  .dark {
    background-color: black;
  }

  .dark * {
    color: white !important;
  }

  /* Regular/16px */
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}
.btnf:hover {
  transition: 0.2s;
  border-left: solid 3px #dde2ff;
  background: #4f515c;
  /* opacity: 0.08; */
  color: #fff;
}
.btnfg {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  gap: 27px;
  text-decoration: none;
  cursor: pointer;
  border-left: solid 3px #dde2ff;
  background: #4f515c;
}
.past {
  padding-top: 520px;
}
.menyuu1 {
  color: #a4a6b3;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
